<% layout('../layouts/app') -%>
<% 
function number_format(b,f= -1){

  var a =parseFloat(b);

  if(b==0) return 0;
  
  if(f>=0) return a.toFixed(f);
  if(a>10)return a.toFixed(2);
  if(a>1)return a.toFixed(5);
  //if(a>0.00000000) return a.toFixed(f);
  return a.toFixed(8);
  
}
-%>
<link rel="stylesheet" href="stisla/assets/css/customs/farm.css">
<style>
 
  
 
  .swapb-1{background: rgb(230, 191, 19);}
</style>
 
  <div class="row listing" style='max-width: 1000px ; margin:20px auto;'>

<% for( var a=0; a <  (data.farm.length) ;  a++ ){  -%>

 
  
    <div class="col-12  col-md-4 col-lg-4 diradius list-project" id='pid-box-<%=  a  %>'>
      <div class="pricing pricing-highlight  ">
        <div class="pricing-title ">
          LP Farming
        </div>
        <div class="card ">
          <div class="card-body">
          <div style=" min-height: 150px">
          <h5 class="card-title text-center"><img src="https://exchange.bitsten.com/assets/static/v30/images/logo/busd.png" width="40px">
             <span class=''>BUSD</span> - <span class=''>NERO</span>
             <img src="https://bscscan.com/token/images/nerofinance_32.png"  width="40px"> </h5>

             
 
          <div id='pid-boxs-<%=  a  %>' class='swap1-<%=  a  %>'>
          <h6 class="row" style="margin-top:20px">
          <div class="col-5 text-left " style="padding: 0px 10px">APR
          </div>
          <div class="col-7  text-right text-right text-success  " style=" padding: 0px 10px" >
            <%= number_format((data.nero*data.rewardblock*28200)/((data.rate * data.farm[a][5]*2)*0.01) * 355,2) %>%
          </div>
        </h6>
          
          
      
          <div class="row font-weight-bold">
          <div class="col-5 text-left  " style="padding: 0px 10px">Deposit
          </div>
          <div class="col-7 text-right text-success  name-<%=  a  %>" style=" padding: 0px 10px">
          BUSD-NERO LP </div>
          </div>
          <div class="row font-weight-bold">
          <div class="col-5 text-left  " style="padding: 0px 10px">Reward
          </div>
          <div class="col-7 text-right text-success " style=" padding: 0px 10px">
          NERO
          </div>
          </div>
            
            

            <div class="row font-weight-bold"  >
              <div class="col-5 text-left  " style="padding: 0px 10px">Daily reward
              </div>
              <div class="col-7 text-right text-success  " style=" padding: 0px 10px">
              <span class=''><%= number_format((data.nero*data.rewardblock*28200)/((data.rate * data.farm[a][5]*2)*0.01),2) -%></span>%
              </div>
              </div>
          
              <div class="row font-weight-bold"  >
                <div class="col-5 text-left  " style="padding: 0px 10px">Deposit Fee
                </div>
                <div class="col-7 text-right text-success  " style=" padding: 0px 10px">
                <span class=''><%= data.farm[a][2] -%></span>%
                </div>
                </div>
                <div class="row font-weight-bold"  >
                  <div class="col-5 text-left  " style="padding: 0px 10px">Deposit Lock
                  </div>
                  <div class="col-7 text-right text-success  " style=" padding: 0px 10px">
                  <span class=''><%= Math.floor( (data.farm[a][7]*3)/(60*60*24)) -%></span> Days
                  </div>
                  </div>
              
 
          
          </div>
         </div>
          </div>
          </div>
 
        <div class="d-flex mt-2" > 
          <div class="col-6 text-center   text-warning "   >
            Reward
          </div>
          <div class="col-6 text-center   text-warning "   >
            Your LP
          </div>
        </div>
        <div class="d-flex mt-2" > 
          <div class="col-6 text-center    "   >
            <h6><span class='pending-reward-pid-<%=  a  %>'>0</span></h6>
          </div>
          <div class="col-6 text-center    "   >
            <h6><span class='your-lp-pid-<%=  a  %>'>0</span></h6>
          </div>
        </div>


        <div  style='border-bottom:1px solid #ddd; display:none; margin:0px  ' class="row mt-2 pb-3 aproved-pid-<%=  a  %>"> 
           
          <div class="col-12 text-center    "   >
           
            <button data-toggle="modal" data-target="#modal-wd-pid-<%=  a  %>" data-backdrop="false" href="#!" class="btn btn-icon btn-info btn-sm wd-liq-pid-<%=  a  %>">Emergency Withdraw LP</button>
             
              
          </div>
         
        </div>

        <div  style='border-bottom:1px solid #ddd; margin:0px' class="row mt-2 pb-3 non-aproved-pid-<%=  a  %>"> 
         
          <div  style='display:none' class="col-12 text-center    logedin "   >
            <button class="btn btn-sm btn-success btn-block rounded-0 get-approve-pid-<%=  a  %> ">APPROVE CONTRACT</button>
          </div>
          <div class="col-12 text-center">
            <button class="btn btn-sm btn-primary connect-to-wallet rounded-0 btn-block">CONNECT WALLET</button>
          </div>

        </div>
          
 
       
        <br>
        <a onClick="$('.detail<%=  a  %>').toggle();$('.hide<%=  a  %>').toggle()" class="    mb-2 rounded-0 rounded-bottom" data-toggle="collapse" href="#collapseDetail-<%=  a  %>" role="button" aria-expanded="false" aria-controls="collapseExample">
          <span class='detail<%=  a  %>' >Details</span><span class='hide<%=  a  %>' style='display:none' >Hide</span>
        </a>
        <br>
        <br>
       
      <div class="collapse card-content pb-3 swap1-<%=  a  %>" id="collapseDetail-<%=  a  %>">
    
        <div class="row font-weight-bold">
          <div class="col-5 text-left  " style="padding: 0px 10px">Buy  <span class=''>NERO</span>
          </div>
          <div class="col-7 text-right text-success " style=" padding: 0px 10px">
            <strong><a target="_blank" href="https://exchange.pancakeswap.finance#/swap?outputCurrency=0x6e0fb6b19941faf58982f09b33a9dceda4377155"> Pancakeswap <i class="bi bi-arrow-up-right-square"></i></a></strong>
          </div>
          </div>
        <div class="row font-weight-bold">
          <div class="col-5 text-left  " style="padding: 0px 10px">Get Liquidity
          </div>
          <div class="col-7 text-right text-success " style=" padding: 0px 10px">
            <strong><a target="_blank" href="https://exchange.pancakeswap.finance#/add/0xe9e7cea3dedca5984780bafc599bd69add087d56/0x6e0fb6b19941faf58982f09b33a9dceda4377155"> Pancakeswap <i class="bi bi-arrow-up-right-square"></i></a></strong>
          </div>
          </div>
          <div class="row font-weight-bold">
            
            <div class="col-5 text-left  " style="padding: 0px 10px">TVL
            </div>
            <div class="col-7 text-right text-success " style=" padding: 0px 10px">
            $ <span class=''><%=  number_format(data.rate * data.farm[a][5]*2)  %></span>
            </div>
            </div>
            <div class="row font-weight-bold">
              <div class="col-5 text-left  " style="padding: 0px 10px">Explorer
              </div>
              <div class="col-7 text-right text-success " style=" padding: 0px 10px">
                <strong><a target="_blank" href='https://bscscan.com/token/0x6e0fb6b19941faf58982f09b33a9dceda4377155'>Bscscan <i class="bi bi-arrow-up-right-square"></i></a></strong>
              </div>
              </div>
   
      </div>
      </div>
      <div class="modal fade" id="modal-wd-pid-<%=  a  %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" style="border-radius: 5%;">
            <div class="modal-header">
              <h5 class="modal-title col-12" id="exampleModalCenterTitle">Withdraw LP  <span class='float-right your-lp-pid-<%=  a  %>'>0</span></h5>
              <span class='d-none r-your-lp-pid-<%=  a  %>'>0</span>
              
            </div>
            <div class="modal-body pb-0">
              <div class=" ">
               
                <div class="d-flex">
                  <input  type="text" class="form-control mr-2 col-10 text-center amount-withdraw-lp-pid-<%=  a  %> " placeholder="0" name=""  >
                  <button class="btn btn-sm rounded-0 col-2  btn-success" style="width: 80px;border-radius:20%" onclick="$('.amount-withdraw-lp-pid-<%=  a  %>').val($('.r-your-lp-pid-<%=  a  %>').html())">MAX</button>
                
    
                  
                </div>
                <div class="d-flex pt-2" >
                  <input type="range" class="form-range col-12 roda-wd-<%=  a  %>" style='padding: 0px;'   >
                </div>
                
              </div>
            
            </div>
            <div class="modal-footer" style="justify-content: center;">
              <button type="button" style="width: 200px;" class="btn btn-warning" data-dismiss="modal">Close</button>
              <button type="button" style="width: 200px;" class="btn btn-primary approve-withdraw-lp-pid-<%=  a  %>">Confirm</button>
            </div>
            <div  class='text-center col-12'><a href="<%= a %>token/<%=  a  %>">get   LP <i
              class="bi bi-arrow-up-right-square"></i></a></p> 
          </div>
          </div>
        </div>
      </div>
      
      <div class="modal fade" id="modal-dp-pid-<%=  a  %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" style="border-radius: 5%;">
            <div class="modal-header">
              <h5 class="modal-title col-12" id="exampleModalCenterTitle">Deposit LP  <span class='float-right your-wallet-lp-pid-<%=  a  %>'>0</span> </h5>
              <span class='d-none  r-your-wallet-lp-pid-<%=  a  %>'>0</span>
            </div>
            <div class="modal-body pb-0">
              <div class=" ">
               
                <div class="d-flex">
                  <input  type="text" class="form-control mr-2 col-10 text-center amount-deposit-lp-pid-<%=  a  %>" placeholder="0" name=""  >
                   <button class="btn btn-sm rounded-0 col-2  btn-success" style="width: 80px;border-radius:20%" onclick="$('.amount-deposit-lp-pid-<%=  a  %>').val($('.r-your-wallet-lp-pid-<%=  a  %>').html())">MAX</button>
                
    
                  
                </div>
                <div class="d-flex pt-2" >
                  <input type="range" class="form-range col-12 roda-dp-<%=  a  %>" style='padding: 0px;'  >
                </div>
                
              </div>
              
            </div>
            <div class="modal-footer" style="justify-content: center;">
              <button type="button" style="width: 200px;" class="btn btn-warning" data-dismiss="modal" >Close</button>
              <button type="button" style="width: 200px;" class="btn btn-primary approve-deposit-lp-pid-<%=  a  %>">Confirm</button>
              
            </div>
            <div  class='text-center col-12'><a href="https://pancakeswap.info/token/<%=  a  %>">get   LP <i
              class="bi bi-arrow-up-right-square"></i></a></p></div>
              </div>
              </div>
              </div>
    </div>
  
   
  <% } %>

</div>